/* font-family: 'Righteous', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(246, 38, 38, 0.08);
}
.hero {
  margin-top: 214px;
  height: 500px;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  margin-bottom: 46px;
}
h1 {
  font-size: 64px;
  text-align: center;
  font-family: 'Righteous', sans-serif; 
  color: #F62626;
  font-weight: 400;
  letter-spacing: 3.84px;
  margin-bottom: 3px;
}
h3 {
  font-size: 24px;
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  margin-bottom: 89px;
}

button {
  font-size: 24px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #F62626;
  color: whitesmoke;
  border: none;
  display: block;
  margin: 0 auto;

}

.featured-projects {
  background-color: white;
  height: 900px;
}